body{
	background-color: #72759D
}
h1,h2{
	font-family: Verdana, sans-serif;
	color: #22462A;
}
#here{
	font-weight: bold;
	color: #016255;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}